@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quintessential&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.left{
    width: 20vw;
    height: 100vh;
    background-color: black;
    float: left;
}
.right{
    width: 80vw;
    height: 100vh;
    background-color: rgb(54, 54, 53);
    float: right;
    
}
.top
{
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.name{
    width: 200px;
    height: 130px;
}
.panny{
    height: 90px;
    width: 150px;
    position: absolute;
    top: 80px;
    left: 78px;
    color: white;

}
.topLeft{
    background-color: red;
    height: 7px;
    width: 60px;
}
.sideLeft{
        background-color: red;
        height: 55px;
        width: 7px;
}
.bottomRight{
    background-color: red;
    height: 55px;
    width: 7px;
    position: relative;
    left: 193px;
    top:10px;
}
.sideRight{
    width: 60px;
    height: 7px;
    background-color: red;
    position: relative;
    top:8px;
    left:140px;
}
.panny p{
    position: absolute;
    top: -7px;
    left: 8%;;
    font-size: 50px;
    font-family: 'Rajdhani', sans-serif;
}
.panny p::first-letter{
    font-family: 'Quintessential', cursive;
    font-size: 60px;
}